div.user-details {
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding-left: 5px;
}

.user-details h2 {
	font-size: 72px;
	line-height: 1;
}

/*
=Index styles (much of this is in product)
*/

div.individual-user{
	height: 100px;
}
